.page[data-name="favorite_page"] .page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page[data-name="favorite_page"] .block {
  width: 100%;
}

.page[data-name="favorite_page"] .no-fav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.page[data-name="favorite_page"] .no-fav i {
  font-size: 60px;
  color: #555;

  background: #ffffff;
  width: 90px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;           
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); 
  border: 1px solid #f0f0f0;   
}

.page[data-name="favorite_page"] .no-fav strong {
  font-size: 18px;
  margin-top: 8px;
}

.page[data-name="favorite_page"] .no-fav-text {
  font-size: 14px;
  color: #555;
  max-width: 300px;
}